{% extends '../base.html' %}
{% load static %}
{% block content %}
<style>
	.subtitle{
		font-size: 20px;
	}
</style>

<div class="row">
	<div class="col-md-2 col-sm-12">
		<div class="form-group">
			<label>Compra N°</label>
			<input type="text" name="number_shopping" autofocus class="form-control number_shopping">
		</div>
	</div>
	<div class="col-md-2 col-sm-12">
		<div class="form-group">
			<label>Proveedor</label>
			<select id="supplierSelect" class="custom-select2 form-control" name="state" style="width: 100%; height: 38px;"></select>
		</div>
	</div>
	<div class="col-md-2 col-sm-12">
		<div class="form-group">
			<label>Sucursal</label>
			<select id="branchSelect" class="custom-select2 form-control" multiple="multiple" name="branch" style="width: 100%;">
				<option selected="true" disabled="disabled" value="">Seleccione</option>
				{% for i in list_branch %}
					<option value="{{i.id}}">{{i.business_name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="col-md-2 col-sm-12">
		<div class="form-group">
			<label>Fecha</label>
			<input type="date" class="form-control" id="fecha" value="">
		</div>
	</div>
	<div class="col-md-2 col-sm-12">
		<div class="form-group">
			<label>Metodos de Pagos</label>
			<select id="paymentmethod" class="custom-select form-control" name="state" style="width: 100%;">
				<option value="10">Efectivo</option>
				<option value=30>Crédito</option>
				<option value="47">Transferencia Debito</option>
				<option value="45">Transferencia Crédito</option>
				<option value="49">Tarjeta Debito</option>
				<option value="48">Tarjetas Crédito</option>
			</select>
		</div>
	</div>
	<div class="col-md-2 col-sm-12">
		<div class="form-group">
			<label>Producto</label>
			<select id="productSelect" class="custom-select2 form-control" name="state" style="width: 100%; height: 38px;"></select>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-1 col-sm-12">
		<div class="form-group">
			<label>Cantidad</label>
			<input type="number" disabled class="form-control quantity">
		</div>
	</div>
	<div class="col-md-2 col-sm-12">
		<div class="form-group">
			<label>Costo</label>
			<input type="text" name="cost" disabled class="form-control cost">
		</div>
	</div>
	<div class="col-md-2 col-sm-12">
		<div class="form-group">
			<label>Precio 1</label>
			<input type="text" name="price1" disabled class="form-control price1">
		</div>
	</div>
	<div class="col-md-2 col-sm-12">
		<div class="form-group">
			<label>Precio 2</label>
			<input type="text" name="price2" disabled class="form-control price2">
		</div>
	</div>
	<div class="col-md-2 col-sm-12">
		<div class="form-group">
			<label>Precio 3</label>
			<input type="text" name="price3" disabled class="form-control price3">
		</div>
	</div>
	<div class="col-md-2 col-sm-12">
		<div class="form-group">
			<label>Precio 4</label>
			<input type="text" name="price4" disabled class="form-control price4">
		</div>
	</div>
	
</div>

<div class="row">

	<div class="col-md-2 col-sm-12">
		<div class="form-group">
			<label>Precio 6</label>
			<input type="text" name="price6" disabled class="form-control price6">
		</div>
	</div>
	<div class="col-md-2 col-sm-12">
		<div class="form-group">
			<label>ICO</label>
			<input type="text" name="ico" disabled class="form-control ico">
		</div>
	</div>
	<div class="col-md-2 col-sm-12">
		<div class="form-group">
			<label>Descuento</label>
			<input type="text" name="discount" disabled class="form-control discount">
		</div>
	</div>
	<div class="col-md-2 col-sm-12">
		<div class="form-group">
			<label>Agregar producto a la lista</label>
			<button class="add_product btn btn-primary form-control text-white">Agregar</button>
		</div>
	</div>
	<div class="col-md-2 col-sm-12">
		<div class="form-group">
			<label>Total</label>
			<input type="text" disabled style="text-align: right;" class="form-control total_invoice">
		</div>
	</div>
</div>
<div class="row">
	<table class="table table-bordered tablaCompra">
	  <thead>
	    <tr>
	      <th>Código</th>
	      <th>Descripción</th>
	      <th>Cantidad</th>
	      <th>Costo</th>
	      <th>IVA</th>
	      <th>ICO</th>
	      <th>Dcto</th>
	      <th>SubTotal</th>
	      <th>Neto</th>
	      <th>Accion</th>
	    </tr>
	  </thead>
	  <tbody class="row_invoice"></tbody>
	</table>
</div>

<style>
    .obser {
        height: auto;
        min-height: 50px;
        max-height: 100px;
        overflow-y: auto;
        resize: none;
    }

    .contenedor {
        align-items: flex-start !important;
    }

    .observa {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }
</style>


<div class="row contenedor">
	<div class="col-md-4 col-sm-12">
		<div class="form-group observa">
			<label>Observaciones</label>
			<textarea class="form-control obser note" placeholder="Escriba una nota" rows="2"></textarea>
		</div>
	</div>
	<div class="col-md-2 col-sm-12 ml-auto">
		<table class="table table-bordered">
		  <tbody class="row_totales">
		    <tr>
		      <th>Subtotal:</th>
		      <th>0</th>
		    </tr>
		    <tr>
		      <th>Impuestos:</th>
		      <th>0</th>
		    </tr>
		    <tr>
		      <th>ICO:</th>
		      <th>0</th>
		    </tr>
		    <tr>
		      <th>Descuentos:</th>
		      <th>0</th>
		    </tr>
		    <tr>
		      <th>Total:</th>
		      <th>0</th>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>

<div class="container mt-5">
    <button class="btn btn-primary reader_invoice">Ver Facturas</button>
</div>


<!-- Modal de Detalle Editable -->
<div id="modalDetalle" style="display:none; position:fixed; top:10%; left:30%; background:white; border:1px solid #ccc; padding:20px; width:400px;">
  <h3>Detalle del Producto</h3>
  <input type="hidden" id="rowIndex">
  <label>Producto: <input type="text" id="modalProducto"></label><br>
  <label>Cantidad: <input type="number" id="modalCantidad"></label><br>
  <label>Costo: <input type="number" id="modalCosto"></label><br>
  <label>Precio 1: <input type="number" id="modalPrecio1"></label><br>
  <label>Precio 2: <input type="number" id="modalPrecio2"></label><br>
  <label>Precio 3: <input type="number" id="modalPrecio3"></label><br>
  <label>Precio 4: <input type="number" id="modalPrecio4"></label><br>
  <label>Precio 5: <input type="number" id="modalPrecio5"></label><br>
  <label>Precio 6: <input type="number" id="modalPrecio6"></label><br>
  <label>Impuesto Consumo (%): <input type="number" id="modalConsumo"></label><br>
  <label>Descuento (%): <input type="number" id="modalDescuento"></label><br>
  <label>Código PUC:
    <select id="modalPUC">
      <option value="613505">613505 - Compras nacionales</option>
      <option value="613510">613510 - Compras importadas</option>
      <option value="143505">143505 - Mercancía no fabricada</option>
      <option value="143510">143510 - Mercancía en proceso</option>
      <option value="143515">143515 - Mercancía terminada</option>
    </select>
  </label><br><br>

  <button onclick="guardarCambios()">Guardar</button>
  <button onclick="cerrarModal()">Cerrar</button>
</div>

{% endblock %}
{% block script %}
<script>
	let supplier_id = {{request.session.supplier_id|safe}}
	let branch_id = {{request.session.branch_id|safe}}
	let employee_id = {{request.session.pk_employee|safe}}
	let type_document = {{request.session.type_document|safe}}
	url_product = '{% url "Get_Product_By_Name" %}'
	console.log(url_product)
	let url_supplier = '{% url "Get_Supplier_By_Name" %}'
	let save_shopping = "{% url 'Create_Shoppings' %}"
	let list_product_invoice = []
	let list_product_tmp = []
	let product_id = null
	let type_price = null
	let invoice = new Object()
	let url_all_inventory = "{% url 'Get_All_Inventory' %}"
	let reserved = "{% url 'Reserved' %}"
	let return_product = "{% url 'Return_Product' %}"
	let print_invoice = "https://evansoft.co/invoice/Print_Invoice/"
</script>
<script src="{% static 'shopping/offline.js' %}"></script>
<script src="{% static 'shopping/save_invoice.js' %}"></script>
<script src="{% static 'shopping/test.js' %}"></script>


{% endblock %}