{% extends '../base.html' %}
{% load format_filters %}
{% load static %}
{% block content %}
<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_content">
            <section class="content invoice">
              <div class="row p-3">
                <div class="col-xs-12 invoice-header">
                  <h1>{{invoice.type_document_name}}</h1>
                </div>
                <div class="ml-auto d-flex justify-content-between align-items-center">
                  <h3><span class="text-muted">Fecha: {{invoice.date}}</span></h3>
                </div>
              </div>
              <div class="row invoice-info mb-4">
                <div class="col-sm-4 invoice-col">
                  Para:
                  <address>
                      <strong>NIT: {{customer.identification_number}}</strong>
                      <br>Razón Social: {{customer.name|title}}
                      <br>Dirección: {{customer.address}}
                      <br>Teléfono: {{customer.phone}}
                      <br>Email: {{customer.email}}
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  De:
                  <address>
                      <strong>NIT: {{company.documentI}}</strong>
                      <br>Razón Social: {{branch.business_name|title}}
                      <br>Dirección: {{branch.address}}
                      <br>Teléfono: {{branch.phone_1}}
                      <br>Email: {{branch.email}}
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  <b>Factura: {{invoice.prefix}}-{{invoice.number}}</b>
                  <br>
                  <b>Forma de Pago:</b>{{payment_form.payment_form__name}} 
                  <br>
                  <b>Metodo de Pago:</b>{{payment_form.payment_method__name}} 
                  <br>
                  <b>Fecha de Vencimiento:</b> {{payment_form.date_only}}
                  <br>
                  <b>Dias de vencimiento:</b> {{payment_form.duration_measure}}
                  <br>
                  <b>Estado de la factura:</b> {% if invoice.status == 'Paid' %}No enviada a la DIAN.{% else %}{{invoice.status|title}}{% endif %}
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- Table row -->
              <div class="row">
                <div class="col-xs-12 table">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 7%">NC</th>
                        <th style="width: 7%">Cantidad</th>
                        <th style="width: 25%">Producto</th>
                        <th style="width: 7%">Costo</th>
                        <th style="width: 7%">IVA %</th>
                        <th style="width: 7%">Val. IVA</th>
                        <th style="width: 7%">Dcto %</th>
                        <th style="width: 7%">Val. ICO</th>
                        <th style="width: 7%">Subtotal</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in details %}
                        <tr>
                          <td>
                            <button class="btn btn-danger" type="button">NC</button>
                          </td>
                          <td>{{i.quantity|miles}}</td>
                          <td>{{i.name}}</td>
                          <td>{{i.cost|miles}}</td>
                          <td>{{i.tax}}</td>
                          <td>{{i.valtax|miles}}</td>
                          <td>{{i.discount|miles}}</td>
                          <td>{{i.ico|miles}}</td>
                          <td>{{i.subtotal|miles}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <style>
                  .obser {
                      height: auto;
                      min-height: 50px;
                      overflow-y: auto;
                      resize: none;
                  }

                  .contenedor {
                      align-items: flex-start !important;
                  }

                  .observa {
                      display: flex;
                      flex-direction: column;
                      justify-content: flex-start;
                      height: 100%;
                  }
              </style>

              <div class="row p-1 contenedor">
                <!-- accepted payments column -->
                <div class="col-xs-6 observa">
                  <p class="lead obser" style="color: red; font-weight:bold;">Observaciones: <span style="font-size: 17px; color: black;">{% if invoice.notes %}{{invoice.notes}}{% else %}NO HAY OBSERVACIONES{% endif %}</span></p>
                  <div class="table-responsive obser">
                    <table class="table">
                      <thead>
                            <tr>
                                <th class="">Tipo</th>
                                <th class="text-center">Base</th>
                                <th class="text-center">%</th>
                                <th class="text-center">Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for i in list_taxes %}
                            <tr>
                                <td style="text-align: left !important;">{{i.name}}</td>
                                <td class="text-right">{{i.taxable_amount|miles}}</td>
                                <td class="text-right">{{i.percent}}%</td>
                                <td class="text-right">{{i.tax_amount|miles}}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                  </div>                  
                </div>
                <!-- /.col -->
                <div class="col-xs-6 ml-auto">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th>Neto:</th>
                          <td>${{totals.neto|miles}}</td>
                        </tr>
                        <tr>
                          <th>Subtotal:</th>
                          <td>${{totals.subtotals|miles}}</td>
                        </tr>
                        <tr>
                          <th>IMPUESTOS</th>
                          <td>${{totals.tax|miles}}</td>
                        </tr>
                        <tr>
                          <th>ICO:</th>
                          <td>${{totals.ico|miles}}</td>
                        </tr>
                        <tr>
                          <th>Descuento:</th>
                          <td>${{totals.discount|miles}}</td>
                        </tr>
                        <tr>
                          <th>Total:</th>
                          <td>${{totals.totals|miles}}</td>
                        </tr>
                        <tr>
                          <th>Total - Descuento:</th>
                          <td>${{totals.totals_with_discount|miles}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- this row will not appear when printing -->
              <div class="row no-print">
                <div class="col-xs-12 p-3">
                  <p class="lead obser" style="color: red;">Valor en letras: <span style="font-size: 17px; color: black;">{{val_letters | title}} COP</span></p>
                  {% if invoice.type_document != 99 %}
                    <a href="{{invoice.QRStr}}" class="lead" style="color: black; ">CUFE: <span style="font-size: 17px; color: black;">{{invoice.cufe}}</span></p>
                  {% endif %}
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}